.carousel slide{
    width: 100%;
    height: 400px;

}

.item img {
  width: 100%;
  height: 100%;

}



.carousel-text {
    width: 70%;

}

.container img{
    width: 150px;
    height: 150px;
}


.container i{
    font-size: 0.5em;
}

.col-sm{
    margin-top: 20px;
    margin-bottom: 20px;
